.place__link {
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  color: #FFFFFF;
  transition: opacity 0.3s ease;
}

.place__link:hover {
  opacity: 80%;
}
@media screen and (max-width: 767px) {
  .place__link {
    margin: 0 16px 0 12px;
  }
}