.footer{
    display: flex;
    justify-content: space-between;
    margin: 0 48px 24px 48px;
    padding-top: 92px;
    width: 1184px;
    height: 18px;
}
@media screen and (max-width: 1023px) {
    .footer {
        max-width: 928px;
        margin: 0 auto 24px auto;
        padding-top: 88px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        width: 720px;
        flex-direction: column;
        margin: 64px auto 24px 0;
        padding: 0 0 0 16px;
    }
}
@media screen and (max-width: 320px) {
    .footer {
        width: 183px;
        height: 310px;
        flex-direction: column;
        margin: 64px auto 24px 0;
        padding: 0 0 0 32px;
    }
}